:root {
    --main-bg-color: #EDFAFD;
    --main-primary-color: #7ECBF6;
    --main-primary-color-hover: #71b8e0;
}


 /*****************************************/
 /* Components */

.btn.custom-primary-btn {
    background-color: var(--main-primary-color); 
    color: #fff;
}

.btn.custom-primary-btn:hover,
.btn.custom-primary-btn:focus {
    background-color: var(--main-primary-color-hover); 
    color: #fff;
}

.card.custom-card {
     background-color: var(--main-bg-color);
}


 /*****************************************/
 /* Navigation */

.navbar-custom {
    background-color: var(--main-bg-color);
}

.custom-logo {
    width: 9rem;
    height: 2.3rem;
}

.login-custom {
    margin-top: 7rem;
}




/************************************************/
/* Home Page */

.container.custom-main-header {
     margin-top: 4rem;
     padding-left: 10rem;
     padding-right: 10rem;
}

